<!-- Base -->

{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
  {% include "partials/head.html.twig" %}
  <body id="top" class="{{ page.header.body_classes }}">
    <!-- Header -->
    {% include "partials/header.html.twig" %}

    <!-- Hero -->
    {% if page.home == true %}
      {% include "partials/hero.html.twig" %}
    {% endif %}

    <!-- Main -->
    <div class="universal main gray-100-bg">
      <div class="universal-box">
        <div class="universal-item">
          <div class="center-h-parent">
            <div class="center-h-child">
              <div class="left col-large-1-1">
                <!-- Main -->
                {% if page.template == "home" %}
                  {% include "partials/main_home.html.twig" %}
                {% elseif page.template == "left" %}
                  {% include "partials/main_left.html.twig" %}
                {% elseif page.template == "wide" %}
                  {% include "partials/main_wide.html.twig" %}
                {% elseif page.template == "right" %}
                  {% include "partials/main_right.html.twig" %}
                {% elseif page.template == "house" %}
                  {% include "partials/main_right.html.twig" %}
                {% elseif page.template == "list" %}
                  {% include "partials/main_list.html.twig" %}
                {% else %}
                  {% include "partials/main.html.twig" %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include "partials/footer.html.twig" %}
  </body>
</html>
