<!-- Base -->

{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
  {% include "partials/head.html.twig" %}
  <body id="top" class="{{ page.header.body_classes }}">
    <!-- Header -->
    {% include "partials/header.html.twig" %}
    <!-- Hero -->
    {% if page.home == true %}
      {% include "partials/hero.html.twig" %}
    {% endif %}
    <!-- Main -->
    {% if page.template == "left" %}
      {% include "partials/main_left.html.twig" %}
    {% elseif page.template == "wide" %}
      {% include "partials/main_wide.html.twig" %}
    {% elseif page.template == "right" %}
      {% include "partials/main_right.html.twig" %}
    {% else %}
      {% include "partials/main.html.twig" %}
    {% endif %}
    <!-- Footer -->
    {% include "partials/footer.html.twig" %}
  </body>
</html>
