<!-- Branding -->

<div class="branding">
  <div class="branding-box">
    <div class="branding-item">
      <a href="{{ base_url }}" class="link tiny">
        <img src="https://via.placeholder.com/48x48" />
      </a>
    </div>
  </div>
</div>
