<!-- Contact -->

<div class="contact" id="contact">
  <div class="contact-box">
    <div class="contact-item">
      <h2 class="text-center no-margin">{{ config.plugins.casasdepedra.contact_title }}</h2>
    </div>
    <div class="contact-item">
      <p class="text-center no-margin">
        {{ config.plugins.casasdepedra.contact_email }} <br />
        {{ config.plugins.casasdepedra.contact_telephone }}
      </p>
    </div>
  </div>
</div>
