<!-- Copyright -->

<div class="copyright">
  <div class="copyright-box">
    <div class="copyright-item">
      <p class="ultra-nano text-center black-030-cl no-margin mono">© {{ site.title }} {{ now|date("Y") }}. All Rights Reserved.</p>
    </div>
  </div>
</div>
