<!-- Footer -->

{% block footer %}
  <div class="universal footer">
    <div class="universal-box">
      <div class="universal-item">
        {% include "partials/location.html.twig" %}
      </div>
      <div class="universal-item">
        {% include "partials/map.html.twig" %}
      </div>
      <div class="universal-item">
        {% include "partials/contact.html.twig" %}
      </div>
      <div class="universal-item">
        {% include "partials/copyright.html.twig" %}
      </div>
    </div>
  </div>
{% endblock %}
