<!-- Hero -->

{% block hero %}
    {% if page.header.billboard_background_image != "" %}
      {% for asset in page.header.billboard_background_image %}
        <div class="universal hero white-100-bg" style="background-image: url('{{ asset.path }}');">
      {% endfor %}
    {% else %}
      <div class="universal hero white-100-bg">
    {% endif %}
      <div class="universal-box">
        <div class="universal-item">
          {% include "partials/billboard.html.twig" %}
        </div>
      </div>
    </div>
  <div class="universal hero">
    <div class="universal-box">
      <div class="universal-item">
        {% include "partials/quote.html.twig" %}
      </div>
    </div>
  </div>
{% endblock %}
