<!-- Hero -->

{% block hero %}
  <div class="universal hero orange-500-bg">
    <div class="universal-box">
      <div class="universal-item">
        {% include "partials/billboard.html.twig" %}
      </div>
    </div>
  </div>
  <div class="universal hero">
    <div class="universal-box">
      <div class="universal-item">
        {% include "partials/quote.html.twig" %}
      </div>
    </div>
  </div>
{% endblock %}
