<!-- Main -->

{% block main %}
  <div class="universal main gray-100-bg">
    <div class="universal-box">
      <div class="universal-item editor">
        {{ page.content|raw }}
      </div>
    </div>
  </div>
{% endblock %}
