<!-- Main Home -->

{% block main_home %}
  <div class="content">
    <div class="content-box">
      <div class="content-item">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endblock %}
