<!-- Main -->

{% block main %}
  <div class="universal main">
    <div class="universal-box">
      <div class="universal-item">
        {{ content|raw }}
      </div>
    </div>
  </div>
{% endblock %}
