<!-- Main -->

{% block main %}
  <!-- Content -->
  {% if page.content != "" %}
    <div class="content left col-large-1-1">
      <div class="content-box">
        <div class="content-item">
          {{ page.content|raw }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
