<!-- Map -->

<div class="map">
  <div class="map-box">
    <!--
      <div class="map-item">
        <h2 class="text-center no-margin">{{ config.plugins.casasdepedra.map_title }}</h2>
      </div>
    -->
    <div class="map-item">
      <div class="center-h-parent">
        <div class="center-h-child">
          {% for asset in config.plugins.casasdepedra.map_image %}
            <img src="{{ url(asset.path) }}" title="{{ site.title }}" alt="Image :: {{ site.title }}"/>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
