<!-- Navigation -->

<nav class="navigation right">
  <ul class="navigation-box">
    <li class="navigation-item">
      <a href="{{ base_url }}/about" class="link nano">About Us</a>
    </li>
    <li class="navigation-item">
      <a href="{{ base_url }}/homes" class="link nano">Our Homes</a>
    </li>
    <li class="navigation-item">
      <a href="{{ base_url }}/garden" class="link nano">The Garden</a>
    </li>
    <li class="navigation-item">
      <a href="#location" class="altai-scroll link nano">Location</a>
    </li>
    <li class="navigation-item">
      <a href="#contact" class="altai-scroll link nano">Contact</a>
    </li>
  </ul>
</nav>
