<!-- navigation-responsive -->

<nav class="navigation-responsive right altai-toggle">
  <ul class="navigation-responsive-box">
    <li class="navigation-responsive-item">
      <a href="{{ base_url }}/about" class="button tiny wide text-center">About Us</a>
    </li>
    <li class="navigation-responsive-item">
      <a href="{{ base_url }}/homes" class="button tiny wide text-center">Our Homes</a>
    </li>
    <li class="navigation-responsive-item">
      <a href="{{ base_url }}/garden" class="button tiny wide text-center">The Garden</a>
    </li>
    <li class="navigation-responsive-item">
      <a href="#location" class="altai-scroll button tiny wide text-center">Location</a>
    </li>
    <li class="navigation-responsive-item">
      <a href="#contact" class="altai-scroll button tiny wide text-center">Contact</a>
    </li>
  </ul>
</nav>
