<!-- Quote -->

<div class="quote">
  <div class="quote-box">
    <div class="quote-item">
      <p class="text-center extra-large pink-500-cl">{{ page.header.quote_text }}</p>
    </div>
  </div>
</div>
