<!-- Quote -->

<div class="quote">
  <div class="quote-box">
    <div class="quote-item">
      <p class="text-center large orange-500-cl">{{ config.plugins.casasdepedra.quote_text }}</p>
    </div>
  </div>
</div>
